svg {
  shape-rendering: crispEdges;
  border: 0.5px solid white;
}

h1 {
  color: #000033;
}

a {
  transition: color .4s;
  color: #660000;
}

a:link,
a:visited { color: #660000; }
a:hover   { color: #000033; }
a:active  {
  transition: color .3s;
  color: #000033;
}

.voronoi path {
  fill: none;
  pointer-events: all;
}

select {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 4px;
   -webkit-padding-start: 4px;
   -webkit-user-select: none;
   border: 1px dotted #c2c2c2;
   color: #2b2b2b;
   font-size: inherit;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

html, p, div, span, select, input {
  font-family: 'Merriweather', serif;
}

body {
   background-color: white;
}

#c1 {
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: space-evenly;
  align-items: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  margin:0;
  width:100%;
}

#intro {
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

#intro p {
  font-size:1em;
}

#container {
  margin: 0;
  padding-top: 20px;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: space-evenly;
  align-items: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  height: 500px;
  width: 100%;
}

#vis {
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}

#questions {
  padding-top:20px;
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-left: auto;
  margin-right: auto;
}

#answer {
  font-size:1.5em;
}

#ansdiv {
  padding-top:20px;
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  margin-left: auto;
  margin-right: auto;
  height: 100px !important;
}

#orders {
  padding-top:20px;
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  margin-left: auto;
  margin-right: auto;
  height: 100px !important;
}

#person {
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#pname {
  font-size:1.25em;
}

div {
}
