@font-face {
  font-family: 'Merriweather';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Merriweather-300/Merriweather-300.eot');
  src: url('/fonts/Merriweather-300/Merriweather-300.eot?#iefix') format('embedded-opentype'),
       local('Merriweather Light'),
       local('Merriweather-300'),
       url('/fonts/Merriweather-300/Merriweather-300.woff2') format('woff2'),
       url('/fonts/Merriweather-300/Merriweather-300.woff') format('woff'),
       url('/fonts/Merriweather-300/Merriweather-300.ttf') format('truetype'),
       url('/fonts/Merriweather-300/Merriweather-300.svg#Merriweather') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Merriweather-regular/Merriweather-regular.eot');
  src: url('/fonts/Merriweather-regular/Merriweather-regular.eot?#iefix') format('embedded-opentype'),
       local('Merriweather'),
       local('Merriweather-regular'),
       url('/fonts/Merriweather-regular/Merriweather-regular.woff2') format('woff2'),
       url('/fonts/Merriweather-regular/Merriweather-regular.woff') format('woff'),
       url('/fonts/Merriweather-regular/Merriweather-regular.ttf') format('truetype'),
       url('/fonts/Merriweather-regular/Merriweather-regular.svg#Merriweather') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Merriweather-700/Merriweather-700.eot');
  src: url('/fonts/Merriweather-700/Merriweather-700.eot?#iefix') format('embedded-opentype'),
       local('Merriweather Bold'),
       local('Merriweather-700'),
       url('/fonts/Merriweather-700/Merriweather-700.woff2') format('woff2'),
       url('/fonts/Merriweather-700/Merriweather-700.woff') format('woff'),
       url('/fonts/Merriweather-700/Merriweather-700.ttf') format('truetype'),
       url('/fonts/Merriweather-700/Merriweather-700.svg#Merriweather') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 900;
  font-style: normal;
  src: url('/fonts/Merriweather-900/Merriweather-900.eot');
  src: url('/fonts/Merriweather-900/Merriweather-900.eot?#iefix') format('embedded-opentype'),
       local('Merriweather Black'),
       local('Merriweather-900'),
       url('/fonts/Merriweather-900/Merriweather-900.woff2') format('woff2'),
       url('/fonts/Merriweather-900/Merriweather-900.woff') format('woff'),
       url('/fonts/Merriweather-900/Merriweather-900.ttf') format('truetype'),
       url('/fonts/Merriweather-900/Merriweather-900.svg#Merriweather') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 300;
  font-style: italic;
  src: url('/fonts/Merriweather-300italic/Merriweather-300italic.eot');
  src: url('/fonts/Merriweather-300italic/Merriweather-300italic.eot?#iefix') format('embedded-opentype'),
       local('Merriweather Light Italic'),
       local('Merriweather-300italic'),
       url('/fonts/Merriweather-300italic/Merriweather-300italic.woff2') format('woff2'),
       url('/fonts/Merriweather-300italic/Merriweather-300italic.woff') format('woff'),
       url('/fonts/Merriweather-300italic/Merriweather-300italic.ttf') format('truetype'),
       url('/fonts/Merriweather-300italic/Merriweather-300italic.svg#Merriweather') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/Merriweather-italic/Merriweather-italic.eot');
  src: url('/fonts/Merriweather-italic/Merriweather-italic.eot?#iefix') format('embedded-opentype'),
       local('Merriweather Italic'),
       local('Merriweather-italic'),
       url('/fonts/Merriweather-italic/Merriweather-italic.woff2') format('woff2'),
       url('/fonts/Merriweather-italic/Merriweather-italic.woff') format('woff'),
       url('/fonts/Merriweather-italic/Merriweather-italic.ttf') format('truetype'),
       url('/fonts/Merriweather-italic/Merriweather-italic.svg#Merriweather') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/Merriweather-700italic/Merriweather-700italic.eot');
  src: url('/fonts/Merriweather-700italic/Merriweather-700italic.eot?#iefix') format('embedded-opentype'),
       local('Merriweather Bold Italic'),
       local('Merriweather-700italic'),
       url('/fonts/Merriweather-700italic/Merriweather-700italic.woff2') format('woff2'),
       url('/fonts/Merriweather-700italic/Merriweather-700italic.woff') format('woff'),
       url('/fonts/Merriweather-700italic/Merriweather-700italic.ttf') format('truetype'),
       url('/fonts/Merriweather-700italic/Merriweather-700italic.svg#Merriweather') format('svg');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 900;
  font-style: italic;
  src: url('/fonts/Merriweather-900italic/Merriweather-900italic.eot');
  src: url('/fonts/Merriweather-900italic/Merriweather-900italic.eot?#iefix') format('embedded-opentype'),
       local('Merriweather Black Italic'),
       local('Merriweather-900italic'),
       url('/fonts/Merriweather-900italic/Merriweather-900italic.woff2') format('woff2'),
       url('/fonts/Merriweather-900italic/Merriweather-900italic.woff') format('woff'),
       url('/fonts/Merriweather-900italic/Merriweather-900italic.ttf') format('truetype'),
       url('/fonts/Merriweather-900italic/Merriweather-900italic.svg#Merriweather') format('svg');
}

